/.vscode
/a.py
/aaaa.py
/contador_de_quesos.py
/conversor_a_binario.py
/elcoso.py
/elcosodellneru.py
/Imaginate hace un buscamninas funcional, eso es lo que entra aca.py
/importando.py
/para_import.py
/quepasa.py
/si.py
/tempCodeRunnerFile.py
/__pycache__